<div class="row">
    <div class="col- xs-12">
        <form>
            <div class="row">
                <form (ngSubmit)="onAddIngredient(ingredientForm)" #ingredientForm="ngForm">
                    <div class="col-sm-5 form-group">
                        <label for="name"> Name </label>
                        <input type="text" id="name" class="form-control" ngModel name="itemName" required>
                    </div>

                    <div class="col-sm-2 form-group">
                        <label for="amount"> Amount </label>
                        <input type="number" id="amount" class="form-control" ngModel name="amount" required
                            pattern="^[1-9]+[0-9]*$">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="name"> Unit </label>
                        <input type="text" id="unit" class="form-control" ngModel name="unit" required>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" type="submit" 
                            [disabled]="!ingredientForm.valid"> {{ editMode ? 'Update' : 'Add'}} </button>
                            <button class="btn btn-danger" type="button"
                            (click)="onDeleteIngredient()" [disabled]="!editMode"> Delete </button>
                            <button class="btn btn-primary" type="button" 
                            (click)="onClear()"> Clear </button>
                        </div>
                    </div>
                </form>
            </div>
        </form>

    </div>
</div>