<div class="row">
    <div class="col-md-5">
        <app-recipe-list
        (recipePassedUp)="passedUpRecipe = $event"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail
        *ngIf="passedUpRecipe; else placeholder"
        [passedDownRecipe]="passedUpRecipe"></app-recipe-detail>
        <ng-template #placeholder>
          <!-- ng-template is what shows up by default if passedUpRecipe is falsy -->
          <p> Please select a recipe</p>
        </ng-template>
    </div>

</div>
